@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,700';

.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 30px;
}

.wrapSearchClass {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.wrapStartBtn {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
