.formContent {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 450px;
  box-shadow: 6px 10px 0 rgba(66, 48, 138, 0.2),
    0 10px 20px 0 rgba(79, 15, 128, 0.2);
  border-radius: 10px;
  background-color: white;
  padding: 50px 40px;
}

.formInputs {
  margin-bottom: 5px;
  width: 100%;
}

.formInputs > p {
  font-size: 12px;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.formLabel {
  margin-top: 16px;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.formInput {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid rgb(89, 128, 255);
}

.formInput:focus {
  background-color: white;
}
.formInput:hover {
  border-color: rgb(89, 128, 255);
  box-shadow: 1px 1px 1px rgb(89, 128, 255);
}

.formInput::placeholder {
  color: thistle;
  font-size: 12px;
}
.btn {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formInputBtn {
  width: 70px;
  height: 40px;
  padding: 4px 6px;
  margin: 4px 14px;
  border-radius: 6px;
  outline: none;
  color: white;
  font-size: 1rem;
  border-color: rgb(89, 128, 255);
  background-color: rgb(89, 128, 255);
}

.formInputBtn:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
  background-color: white;
  color: black;
}

.clearBtn {
  width: 70px;
  height: 40px;
  padding: 4px 6px;
  margin: 4px 14px;
  border-radius: 6px;
  outline: none;
  color: black;
  font-size: 1rem;
  background-color: white;
  border-color: rgb(89, 128, 255);
}
.clearBtn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgb(89, 128, 255);
}

.wrapDialogFooter {
  display: flex;
  justify-content: center;
}

.wrapGenderBirthday {
  width: 100%;
}
